@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #18191a;
  padding-top: 5.5rem;
}

.note {
  position: absolute;
  top: 5.5rem;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, 20%);
  font-size: 1.4rem;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  color: #242526;
  background-color: #e4e6eb;
  display: none;
}

.note.fit {
  top: 100%;
}

.note.last {
  left: unset;
  right: 0;
  width: fit-content;
  transform: translate(0, 20%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.5rem;
  background-color: #242526;
  border-bottom: 1px solid #3a3b3c;
  z-index: 2;
}
.header__box {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}
.header__left {
  width: 32rem;
  flex-shrink: 0;
  display: flex;
  padding: 0 1rem;
}
.header__left-logo {
  display: inline-flex;
  flex-shrink: 0;
  margin-right: 1rem;
}
.header__left-input {
  flex: 1;
  position: relative;
  max-width: 24rem;
}
.header__left-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 1rem 0 4rem;
  outline: none;
  border: none;
  background-color: rgba(78, 79, 80, 0.4);
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #b0b3b8;
}
.header__left-input input::placeholder {
  color: #b0b3b8;
}
.header__left-input label {
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4rem;
  color: #b0b3b8;
}
.header__left-input label ion-icon {
  font-size: 2.4rem;
  margin: auto;
}
.header__middle {
  flex-grow: 1;
}
.header__middle-list {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.header__middle-item {
  height: 100%;
  display: flex;
  position: relative;
  z-index: 1;
}
.header__middle-item:not(:last-child) {
  margin-right: 0.6rem;
}
.header__middle-item:hover .note {
  display: block;
}
.header__middle-item--link {
  margin: auto;
  display: inline-flex;
  font-size: 3rem;
  padding: 1rem 4rem;
  border-radius: 8px;
  color: #e4e6eb;
  transition: 0.2s;
}
.header__middle-item:hover .header__middle-item--link {
  background-color: rgba(176, 179, 184, 0.16);
  color: #e4e6eb;
}
.header__middle-item::before {
  content: "9+";
  position: absolute;
  top: 0.4rem;
  right: 2.4rem;
  width: fit-content;
  padding: 0rem 0.6rem;
  border-radius: 100rem;
  color: #e4e6eb;
  font-weight: normal;
  font-size: 1.3rem;
  background-color: #e41e3f;
  z-index: 1;
  display: none;
}
.header__middle-item.active {
  border-bottom: 3px solid #2374e1;
}
.header__middle-item.active .header__middle-item--link {
  color: #2374e1;
}
.header__middle-item.active .header__middle-item--link:hover {
  background-color: transparent;
}
.header__middle-item.has-notify::before {
  display: block;
}
.header__right {
  width: 32rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
}
.header__right-user {
  display: flex;
  align-items: center;
  border-radius: 100rem;
  transition: 0.1s;
  padding: 0.4rem 0.4rem;
  margin-right: 1rem;
}
.header__right-user:hover {
  background-color: rgba(176, 179, 184, 0.2);
}
.header__right-img {
  width: 28px;
  height: 28px;
  margin-right: 1rem;
}
.header__right-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.header__right-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: #e4e6eb;
  margin-right: 1rem;
  white-space: nowrap;
}
.header__right-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.header__right-item {
  display: inline-flex;
  position: relative;
}
.header__right-item:not(:last-child) {
  margin-right: 1rem;
}
.header__right-item:hover .note {
  display: block;
}
.header__right-item--link {
  display: inline-flex;
  font-size: 2.6rem;
  color: #e4e6eb;
  padding: 0.7rem;
  border-radius: 50%;
  background-color: rgba(176, 179, 184, 0.2);
  transition: 0.1s;
}
.header__right-item:hover .header__right-item--link {
  background-color: rgba(176, 179, 184, 0.4);
  color: #e4e6eb;
}
.header__right-item::before {
  content: "5";
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 19px;
  height: 19px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #e4e6eb;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e41e3f;
  z-index: 1;
  display: none;
}
.header__right-item.has-notify::before {
  display: inline-flex;
}

.main {
  display: flex;
  max-width: 1280px;
  position: relative;
  margin: auto;
  z-index: 1;
}

.sidebar__left {
  position: sticky;
  top: 5.5rem;
  left: 0;
  height: calc(100vh - 5.5rem);
  width: 280px;
  flex-shrink: 0;
}
.sidebar__left-list {
  height: 100%;
  padding: 2rem 1.5rem;
  list-style: none;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.sidebar__left-list::-webkit-scrollbar {
  width: 0.8rem;
}
.sidebar__left-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.sidebar__left-list::-webkit-scrollbar-thumb {
  background-color: rgba(176, 179, 184, 0.4);
  border-radius: 4px;
}
.sidebar__left-item {
  display: flex;
  border-radius: 8px;
  transition: 0.1s;
}
.sidebar__left-item--link {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.sidebar__left-item--link-img {
  width: 28px;
  height: 28px;
  margin-right: 1rem;
}
.sidebar__left-item--link-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.sidebar__left-item--link span {
  font-size: 1.4rem;
  font-weight: 500;
  color: #e4e6eb;
}
.sidebar__left-item:hover {
  background-color: rgba(176, 179, 184, 0.2);
}
.sidebar__left-item:hover .sidebar__left-item--link {
  text-decoration: none;
}
.sidebar__left-copyright {
  margin: 0;
  margin-top: auto;
  padding-top: 1rem;
  font-size: 1.2rem;
  color: #b0b3b8;
}

.sidebar__right {
  position: sticky;
  top: 5.5rem;
  right: 0px;
  height: calc(100vh - 5.5rem);
  width: 280px;
  flex-shrink: 0;
}
.sidebar__right-wrapper {
  padding: 2rem 1.5rem;
  height: 100%;
  overflow: auto;
}
.sidebar__right-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidebar__right-wrapper::-webkit-scrollbar {
  display: none;
}
.sidebar__right-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.sidebar__right-title span {
  font-size: 1.6rem;
  color: #b0b3b8;
  font-weight: 500;
  margin-right: 0.6rem;
}
.sidebar__right-icon {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  font-size: 1.8rem;
  color: #b0b3b8;
}
.sidebar__right-icon ion-icon {
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 50%;
}
.sidebar__right-icon ion-icon:not(:last-child) {
  margin-right: 1rem;
}
.sidebar__right-icon ion-icon:hover {
  background-color: rgba(176, 179, 184, 0.2);
}
.sidebar__right-list {
  list-style-type: none;
  margin: 0;
}
.sidebar__right-item {
  display: flex;
  border-radius: 8px;
  transition: 0.1s;
}
.sidebar__right-item--link {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.sidebar__right-item--link-img {
  width: 28px;
  height: 28x;
  margin-right: 1rem;
  position: relative;
  border-radius: 50%;
}
.sidebar__right-item--link-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.sidebar__right-item--link-img::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(10%, 10%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #18191a;
  background-color: #31a24c;
  display: none;
  z-index: 1;
}
.sidebar__right-item--link-img.online::before {
  display: block;
}
.sidebar__right-item--link-img.outside {
  padding: 2px;
  background-color: #18191a;
  border: 2px solid #2374e1;
}
.sidebar__right-item--link span {
  font-size: 1.4rem;
  font-weight: 500;
  color: #e4e6eb;
  position: relative;
}
.sidebar__right-item:hover {
  background-color: rgba(176, 179, 184, 0.2);
}
.sidebar__right-item:hover .sidebar__right-item--link {
  text-decoration: none;
}

.blog-container {
  flex-grow: 1;
  padding: 2rem 3.2rem;
}

.blog {
  max-width: 59rem;
  margin: auto;
}
.blog__card {
  display: flex;
  margin-left: -10px;
  position: relative;
  margin-bottom: 2rem;
}
.blog__card-switch--btn {
  display: inline-flex;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 1rem;
  font-size: 2rem;
  color: #e4e6eb;
  background-color: #242526;
  transform: translate(50%, -50%);
  z-index: 2;
  transition: 0.1s;
  cursor: pointer;
}
.blog__card-switch--btn:hover {
  background-color: #3a3b3c;
}
.blog__card-switch--btn:hover span {
  display: block;
}
.blog__card-item {
  width: calc(20% - 10px);
  height: 200px;
  background-image: url(../img/blog.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
.blog__card-item:hover {
  transform: translateY(-4px);
}
.blog__card-item span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  font-weight: 500;
  color: #e4e6eb;
  text-shadow: 0px 0px 2px rgba(24, 25, 26, 0.4);
}
.blog__card-img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  padding: 3px;
  background-color: #2374e1;
}
.blog__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.blog__wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.blog__think {
  padding: 1.2rem;
  background-color: #242526;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.blog__think-input {
  display: flex;
  padding-bottom: 1.4rem;
  border-bottom: 1px solid #4e4f50;
}
.blog__think-input--img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 1rem;
}
.blog__think-input--img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.blog__think-input span {
  flex: 1;
  background-color: #3a3b3c;
  padding: 0.8rem 1.4rem;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  color: #b0b3b8;
  transition: 0.1s;
  cursor: pointer;
}
.blog__think-input span:hover {
  background-color: rgba(176, 179, 184, 0.3);
}
.blog__think-icon {
  padding-top: 0.7rem;
  display: flex;
  justify-content: space-between;
}
.blog__think-icon-item {
  padding: 0.7rem 1.2rem;
  display: flex;
  align-items: center;
  color: #b0b3b8;
  border-radius: 4px;
  transition: 0.1s;
  cursor: pointer;
}
.blog__think-icon-item ion-icon {
  font-size: 3rem;
  margin-right: 0.8rem;
  color: #31a24c;
}
.blog__think-icon-item span {
  font-size: 1.4rem;
}
.blog__think-icon-item:hover {
  background-color: rgba(78, 79, 80, 0.4);
}
.blog__meet {
  padding: 1rem;
  background-color: #242526;
  border-radius: 8px;
  display: flex;
  margin-bottom: 1rem;
}
.blog__meet-create {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0.7rem 1rem;
  margin-right: 1.8rem;
  border-radius: 100rem;
  border: 2px solid rgba(35, 116, 225, 0.4);
  color: #e4e6eb;
  cursor: pointer;
  transition: 0.1s;
}
.blog__meet-create ion-icon {
  font-size: 2.4rem;
  margin-right: 0.8rem;
  color: #e75fd9;
}
.blog__meet-create span {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  color: #2374e1;
}
.blog__meet-create:hover {
  background-color: rgba(78, 79, 80, 0.4);
}
.blog__meet-user {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: auto;
}
.blog__meet-user {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.blog__meet-user::-webkit-scrollbar {
  display: none;
}
.blog__meet-user-list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
}
.blog__meet-user-item {
  width: 38px;
  height: 38px;
  margin-right: 1.8rem;
  position: relative;
  border-radius: 50%;
  flex-shrink: 0;
}
.blog__meet-user-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.blog__meet-user-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #18191a;
  background-color: #31a24c;
  display: none;
  z-index: 1;
}
.blog__meet-user-item.online::before {
  display: block;
}
.blog-new {
  background-color: #242526;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.blog-new__box {
  padding: 1.4rem;
}
.blog-new__user {
  display: flex;
  color: #b0b3b8;
  margin-bottom: 1rem;
}
.blog-new__user-img {
  width: 40px;
  height: 40px;
  margin-right: 1.2rem;
}
.blog-new__user-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.blog-new__user-info > span {
  font-size: 1.4rem;
  color: #e4e6eb;
  font-weight: 500;
}
.blog-new__user-info--date {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}
.blog-new__user-info--date span {
  margin-right: 0.6rem;
}
.blog-new__user-info--date ion-icon {
  font-size: 1.6rem;
}
.blog-new__main {
  color: #e4e6eb;
  font-size: 1.6rem;
}
.blog-new__main > p {
  margin: 0;
}
.blog-new__main > p:not(:last-child) {
  margin-bottom: 0.4rem;
}
.blog-new__img {
  width: 100%;
  height: auto;
}
.blog-new__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.blog-new__community {
  padding: 0.6rem 1.6rem;
  color: #b0b3b8;
}
.blog-new__emoji {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 0.4rem;
  border-bottom: 1px solid #4e4f50;
}
.blog-new__emoji-info {
  display: flex;
  align-items: center;
}
.blog-new__emoji-info span {
  margin-left: 0.6rem;
  font-size: 1.6rem;
}
.blog-new__emoji-img {
  display: flex;
  flex-direction: row-reverse;
}
.blog-new__emoji-icon {
  width: 22px;
  height: 22px;
  padding: 2px;
  background-color: #18191a;
  border-radius: 50%;
}
.blog-new__emoji-icon:not(:first-child) {
  margin-right: -0.4rem;
}
.blog-new__container {
  font-size: 1.4rem;
}
.blog-new__container--cmt {
  margin-right: 1rem;
}
.blog-new__action {
  display: flex;
  align-items: center;
  margin-left: -10px;
  margin-top: 0.4rem;
}
.blog-new__action--like, .blog-new__action--share {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 10px);
  margin-left: 10px;
  padding: 0.8rem;
  border-radius: 4px;
  transition: 0.1s;
  font-size: 1.6rem;
}
.blog-new__action--like ion-icon, .blog-new__action--share ion-icon {
  margin-right: 0.6rem;
  font-size: 2rem;
}
.blog-new__action--like:hover, .blog-new__action--share:hover {
  background-color: rgba(78, 79, 80, 0.4);
}

/*# sourceMappingURL=style.css.map */
